# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.env
*.env
venv/
env/
.venv/
*.log
*.db
models/

# IntelliJ / PyCharm
.idea/
*.iml
*.ipr
*.iws

# Node / Frontend (if any)
node_modules/
dist/
build/

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.iml
*.log

# Maven
*.log
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# OS / System files
.DS_Store
Thumbs.db

# Other
*.swp
*.swo
